.centrado{
    color: red;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.emoji{
    margin-top: 30px;
    width: 250px;
}

.grande{
    font-size: 104px;
    font-weight: bolder;
}