.navHeader{
    display: flex;
    height: 40px;
    align-items: baseline;
    justify-content: flex-end;
    padding: 9px;
    column-gap: 10px;
    background-color: white;
}
a{
    text-decoration: none;
}
.textNavHeader{
    font-size: 14px;
    text-decoration: none;
    color: darkgray;
}
.top-20{
    top:12px;
}