.itemListContainer{
    margin-top: 10px;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: space-evenly;
    column-gap: 16px;
    row-gap: 16px;
    border: 0.5px solid gray;
}

.titulo{
    background-color: black;
    color:lightgray;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 15px;
    text-align: start;
    position:relative;
    top:34px;
}