.mensajeCompra{
    margin:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap:30px;
    flex-direction: column;
    padding: 5px;

}

.textoMensajeCompra{
    font-size: 28px;
    font-weight: 100;
    text-align: center;
}

.botonesCompra{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.formRegistro{
    width: 500px;
}

.ordenID{
    font-weight: 600;
    color: red;
}